# 2025-03-24 Alberto Rivera Laporte berto<at>acanorex.io
# Modified haproxy.cfg used to use on OCP baremetal
# https://docs.redhat.com/en/documentation/openshift_container_platform/4.18/html/installing_on_bare_metal/user-provisioned-infrastructure#installation-load-balancing-user-infra-example_installing-bare-metal
#
# This is the external load balancer configuration for bootstrapping
# and openshift cluster
#
global
  log  	      /dev/log  local2
  pidfile     /var/run/haproxy.pid
  maxconn     4000
  daemon

defaults
  mode                    http
  log                     global
  option 		              httplog
  option                  dontlognull
  option                  http-server-close
  option                  redispatch
  retries                 3
  timeout http-request    10s
  timeout queue           1m
  timeout connect         10s
  timeout client          1m
  timeout server          1m
  timeout http-keep-alive 10s
  timeout check           10s
  maxconn                 3000

frontend stats
  bind                    *:9999
  mode                    http
  log                     global
  maxconn                 10
  stats                   enable
  stats                   hide-version
  stats                   refresh 30s
  stats                   show-node
  stats                   show-desc Stats for lb.arl-ocp4.lab.acanorex.io 
  stats                   auth admin:ocp4
  stats                   uri /stats

listen arl-ocp4-api-server-6443 
  bind                    *:6443
  mode                    tcp
  option                  httpchk GET /readyz HTTP/1.0
  option                  log-health-checks
  balance                 roundrobin
  server                  bootstrap bootstrap.arl-ocp4.lab.acanorex.io:6443 verify none check check-ssl inter 10s fall 2 rise 3 backup 
  server                  master1 master1.arl-ocp4.lab.acanorex.io:6443 weight 1 verify none check check-ssl inter 10s fall 2 rise 3
  server                  master2 master2.arl-ocp4.lab.acanorex.io:6443 weight 1 verify none check check-ssl inter 10s fall 2 rise 3
  server                  master3 master3.arl-ocp4.lab.acanorex.io:6443 weight 1 verify none check check-ssl inter 10s fall 2 rise 3

listen arl-ocp4-machine-config-server-22623 
  bind                    *:22623
  mode                    tcp
  server                  bootstrap bootstrap.arl-ocp4.lab.acanorex.io:22623 check inter 1s backup 
  server                  master1 master1.arl-ocp4.lab.acanorex.io:22623 check inter 1s
  server                  master2 master2.arl-ocp4.lab.acanorex.io:22623 check inter 1s
  server                  master3 master3.arl-ocp4.lab.acanorex.io:22623 check inter 1s

# Ingress controller pods will run on the worker nodes under this setup
# These will be moved to infra nodes on a following exercise
listen arl-ocp4-ingress-router-80 
  bind                  *:80
  mode                  tcp
  balance               source
  server                worker1 worker1.arl-ocp4.lab.acanorex.io:80 check inter 1s
  server                worker2 worker2.arl-ocp4.lab.acanorex.io:80 check inter 1s
  server                worker3 worker3.arl-ocp4.lab.acanorex.io:80 check inter 1s

listen arl-ocp4-ingress-router-443 
  bind                  *:443
  mode                  tcp
  balance               source
  server                worker1 worker1.arl-ocp4.lab.acanorex.io:443 check inter 1s
  server                worker2 worker2.arl-ocp4.lab.acanorex.io:443 check inter 1s
  server                worker3 worker3.arl-ocp4.lab.acanorex.io:443 check inter 1s

# END OF                LB CONFIG
